[type='search'],
[type='submit'],
[type='reset'],
[type='legal'],
[type='info'],
[type='help'],
[type='delete'],
button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  padding: 5px;
  appearance: none;
}
