$white: #fff;
$gray-light: #d3d4d4;
$gray-dark: #a7a9ac;
$black: #000;

$turquoise: #3ebeae;
$purple: #440933;
$salmon: #e86359;
$yellow: #fdba1b;

$social-facebook: #3b5998;
$social-twitter: #1da1f2;
$social-google: #4285f4;

$copy-light: $white;
$copy-gray: $gray-light;
$copy-dark: $black;

$link-rest: $yellow;
$link-select: $yellow;
$link-active: $yellow;

$border: #86888b;
$border-gray-dark: $gray-dark;
$border-light: #dedede;
$border-black: $black;

$cta-copy: $copy-light;
$cta-border: $copy-light;
$cta-background: $turquoise;
$cta-background-hover: $turquoise;
