$container-tablet: 90vw;
$container-tablet-lg: 810px;
$container-desktop: 1080px;
$container-desktop-lg: 1680px;

$screen-phone-lg: 425px;
$screen-tablet: 600px;
$screen-tablet-lg: 900px;
$screen-desktop: 1200px;
$screen-desktop-lg: 1800px;

$gutter: 15px;

$footer-height: 67px;

$opensans: 'Open Sans', sans-serif;

$box-shadow-small: 3px 3px 8px 0 rgba($black, 0.3);
$box-shadow-light: 5px 5px 5px 0 rgba($black, 0.25);
$box-shadow: 6px 6px 10px 0 rgba($black, 0.3);
$box-shadow-dark: 6px 6px 10px 0 rgba($black, 0.5);
$box-shadow-hover: 0 0 10px 4px rgba($black, 0.3);

$border-radius: 8px;

$z-background: -1;
$z-badge: 1;
$z-nav: 2;
$z-overlay: 3;
$z-modal: 4;
