.loader {
  display: table;
  position: relative;
  margin: 5px auto;
  padding: 0;
  width: auto;
  height: 1.8em;
  text-indent: -99999em;

  .pip {
    display: inline-block;
    position: relative;
    top: 0.25em;
    float: left;
    transform: scale(1);
    animation-name: loader-bubbles;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    margin: 0 1em 0 0;
    border: 1px solid $white;
    border-radius: 50%;
    background-color: $turquoise;
    padding: 5px 0;
    width: 2em;
    height: 2em;
    font-size: 10px;

    &:nth-of-type(2) { animation-delay: 0.16s; }
    &:nth-of-type(3) { animation-delay: 0.32s; }

    &:nth-of-type(n+4) { display: none; }
  }
}


.btn-load-more {
  margin: $gutter 0;
  background-color: $turquoise;
  cursor: pointer;
  padding: 10px;
  color: $copy-light;
}
