.login-splash {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  padding-bottom: $gutter;
  height: 100vh;
  text-align: center;
  color: $copy-light;

  &::after {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background-image: url('/img/landing-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
  }

  > * {
    flex: 0 0 auto;
    margin: $gutter auto;
    // max-width: 33vw;
  }

  h1 { margin: 0 auto; }

  .raccoon {
    margin: auto auto 0;
    width: 35%;
    height: auto;
  }
}

@media screen and (min-width: $screen-tablet) {
  .login-splash {
    > * { max-width: 33vw; }

    .raccoon { max-width: 250px; }
  }
}
