.pin-viewer {
  position: relative;
  margin: 0 auto $gutter * 2;
  width: 100%;
  max-width: 650px;

  &::after {
    display: block;
    padding-bottom: 100%;
    content: "";
  }

  .pin-img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.pin-tags {
  margin: 5px 0 $gutter;
  border-width: 1px 0;
  border-style: solid;
  border-color: $copy-dark;
  padding: 5px 0;
}

.pin-thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .pin-thumb {
    position: relative;
    flex: 0 0 auto;
    margin: 0 0 3%;
    cursor: pointer;
    width: 30%;
    overflow: hidden;

    &::after {
      display: block;
      padding-bottom: 100%;
      content: "";
    }

    &.active { border: 3px solid $salmon; }

    .pin-img {
      position: absolute;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media screen and (min-width: 400px) {
  .pin-thumbs {
    .pin-thumb {
      margin-bottom: 12px;
      width: 22%;
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .pin-thumbs {
    .pin-thumb {
      margin-bottom: 3%;
      width: 30%;
    }
  }
}

@media screen and (min-width: $screen-tablet-lg) {
  .pin-thumbs {
    .pin-thumb {
      margin-bottom: 12px;
      width: 22%;
    }
  }
}
