.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($purple, 0.85);

  &.active { display: block; }
}

.pin-modal-toggle { cursor: pointer; }

.pin-modal {
  display: none;
  position: fixed;
  top: $gutter;
  right: $gutter;
  left: $gutter;
  z-index: 1;
  background-color: $white;
  max-height: calc(100vh - 50px);
  overflow: auto;

  &.active { display: block; }
}

.pin-modal-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: rgba($white, 0.75);
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  appearance: none;
}

.pin-modal-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  > * {
    flex: 1 1 auto;
    width: 100%;
  }
}

body:not(.is-touch) {
  .pin-modal-dismiss {
    &:hover {
      background-color: $white;
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .pin-modal {
    top: auto;
    right: auto;
    left: auto;
    width: $container-tablet;
    max-height: 80vh;
  }

  .pin-modal-container {
    flex-direction: row;
  }
}

@media screen and (min-width: $screen-tablet-lg) {
  .pin-modal {
    width: $container-tablet-lg;
  }
}

@media screen and (min-width: $screen-desktop) {
  .pin-modal {
    width: $container-desktop;
  }
}

@media screen and (min-width: $screen-desktop-lg) {
  .pin-modal {
    width: $container-desktop-lg;
  }
}
