.settings-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $purple;
  background-image: linear-gradient($turquoise, $purple);
  padding-bottom: 70px;
  overflow: auto;
}
